<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="productoRecibido!=undefined" color="danger" style="padding: 2em;">
    <ion-card-title>{{productoRecibido.nombre}}</ion-card-title>
    <ion-card-content><ion-list>
        <ion-item>{{productoRecibido.descripcion}}
        </ion-item>
        <ion-item>{{productoRecibido.precio}} €</ion-item>
      </ion-list>
    </ion-card-content>


  </ion-card>
  <ion-fab>
    <ion-fab-button color="danger" (click)="anadirCarrito()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>