<ion-header>
  <app-toolbar></app-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card color="danger" *ngFor="let producto of listaProductos" style="padding: 2em;" [routerLink]="['/detalle-producto',producto.id]">
          <ion-card-title >
            {{producto.nombre}}
          </ion-card-title>
          <ion-card-content>
            {{producto.descripcion}}
            {{producto.precio}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>